BCRYPT_SALT=<SALT_VALUE>
DB_NAME=<DB_NAME>
DB_PASSWORD=<DB_PASSWORD>
DB_PORT=<DB_PORT>
DB_URL=postgres://<DB_USER>:<DB_PASSWORD>@postgres_db_prod/<DB_NAME>
DB_USER=<DB_USER>
PORT=<BACKEND_PORT>
OPENAI_API_KEY=<OPENAI_API_KEY>